# Ignorar carpetas de Hadoop
/opt/hadoop_data/hdfs/

# Ignorar notebooks temporales
*.ipynb_checkpoints
# Ignorar csv
*.csv

# Ignorar archivos de configuración locales
*.log
*.out
*.tmp
*.parquet

# Ignorar carpetas de entorno virtual
venv/
.env
parquets/
